body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

a.active{
    background: #521751;
}

a#some-id {
    color: red;
}


.main-section {
    height: 800px;
    border: 1px solid #ccc !important;
    padding: 16px;
}

.highlighted {
     border: 2px solid #fa923f;
}

/* :not sudoclass */
/* select a tags that do NOT have .active sudoclass */
/* a :not would slect any element nested in a tag that do not have active tag */
a:not(.active){
    color: blue;
}