body {
    font-family: sans-serif;
}

nav {
    margin-bottom: 16px;
    background: #fa923f;
    padding: 8px 0;
}

a {
    text-decoration: none;
    color: white;
    margin: 10px;
}

/* other method of chaining selectors
 apply rule to "a" tags that have "active" class */
a.active{
    background: #521751;
}

a#some-id {
    color: red;
}


/* If elements have two classes the one that is lower in the .css document will win */
.main-section {
    height: 800px;
    border: 1px solid #ccc;
    padding: 16px;
}

.highlighted {
     border: 2px solid #fa923f;
}