* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand {
    color: #0e4f1f;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 74px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
    color: #ff1b68;
    background: white;
    border: none;
}


.main__plans__article {
    background-color: #d5ffdc;
    text-align: center;
    display: inline-block;
    padding: 16px;
    margin: 8px;
    width: 30%;
    border-radius: 8px;
    vertical-align: middle;
}

.main__plans__article__title {
    color: #0e4f1f
}

.main__plans__article__price{
    color: rgb(143, 137, 137);
}

.main__plans__article--highlighted  .main__plans__article__title {
    color: white;
}

.main__plans__article--highlighted .main__plans__article__price{
    color: #0e4f1f;
}

.main__plans__article__features{
    list-style: none;
    margin: 0;
    padding: 0;
}

.main__plans__article__features li {
    margin: 8px 0;
}

.main__plans__article--highlighted{
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);

}

.main__plans__article__annotation {
    background: white;
    color: #19b84c;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 8px;

}

.button__chose-plan{
    background-color: #0e4f1f;
    color: white;
    font: inherit;
    font-weight: bold;
    
    border-radius: 8px;
    padding: 8px;
    border: 1.5px solid #0e4f1f;
    cursor: pointer;
}

.button__chose-plan:hover,
.button__chose-plan:active
 {
    background: white;
    color: #0e4f1f;
}

 .button__chose-plan:focus{

     outline: none;
 }


 #key-features{
     background-color: #ff1b68;
     color: white;
     padding: 20px;
     margin-top: 80px;
 }

 #key-features > .section-title {
     color: white;
     padding: 20px;
 }

 /* I did not think to target the ul */
 /* It seems the author is using more classes then I do */
 .key-feature__list{
     /* I have applied this to indyvidual items, author applied to the whole list */
    list-style :none;

    /* !!I forgot to remove default margin and padding. This has center those elements better */
    margin:0;
    padding: 0;

       /* author has aligned the list, I alligned all in main container for this sections */
       text-align: center;
 }

 
 .key-feature__list__item {
    margin-right: 20px;
    display: inline-block;

    /* Author has put 30% on each li to center those elements better
    I have forgot about this feature */
     /* 33% would be to much and would add a line break! */
    width: 30%;

    /* I have not noticed this issue! Text was pushing elements down depanding on line break
     Author fixed it by aligning to top mentioned this is not perfect solution */
    vertical-align: top;
    


 }

 .key-features__circle {
     background: #ffcede;
     
     /* I increased the size of div using padding. Author did it by width and height*/
     width: 128px;
     height: 128px;
     border: 2px solid #424242;
     margin-right: 10px;

     /* Author finished centering those by margin: auto, margin 0 auto is ok as well
     Verticaly it won't work! */
     margin: 0 auto;

     /* I used pixels, authors used% */
     border-radius: 50%;
 }


 .key-features__circle__description {
     /* author has also aligned text here */
     /* I have styled more on inhertance. Author prefers adding classes and adding styles directly to elements */
     text-align: center;
     font-weight: bold;
     color: white;
     font-size: 20px;

}

