main {
    padding-top: 32px;
}

.background{
    background: url("plans-background.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    


    z-index: -1;
}



.main__plan {
   background: #C9F7D9;
   border: 3px solid #0e4f1f;
   border-left: none;  
   margin-top: 20px;
   width: 80%;
}



#main__plan_plus{
    background: rgba(213, 255, 220, 0.95);

    /* if we use absolute we will cras our document flow.
    We can use position relative however to style absolute child
    Therefore:
    relative parent > absolute child */
    /* relative will not take our element out of document flow */
    position: relative;
}

/* position the badge */
.main__plan__badge{
    /* absolute positioning is defined on 2 cases:
     a) if none of the parent has the positioning property applied then it will position to HTML
     b) if any parent has the positioning property applied, the closest one will be the positioning context
     Best to check this by using top: 0px; 
*/

    position: absolute;
    top: 0px;
    right: 0px;
    margin: 20px;

    font-size: 12px;
    color: white;
    background: #ff5454;
    padding: 8px;
}

#main__plan--free {

    border-right:none;
    border-left: 3px solid #0e4f1f;
    background: rgba(234, 252, 237, 0.95);

    float: right;
    text-align: right;
}


.clearfix {

    clear: both;

}


.main__plan:hover,
.main__plan:active{
    
    border: 3px solid  #E0675D;
    border-left:none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#main__plan--free:hover {
    border-left: 3px solid  #E0675D;
}

#main__plan--premium{
    background: #18492F;
}



.main__plan > a {

    color: inherit;
    text-decoration: none;
    display: block;
    padding: 32px;
}

.main__plan__title {
    color:black;
}

#main__plan--premium .main__plan__title {
    color: white;
}

#main__plan--premium .main__plan__slogan {
    color: #bbb;
}


.main__plan__slogan {
    color: #7D857E;
}

.main__plan__description {
    background: white;
    padding: 16px;
    font-size: 20px;
    border: 1px  #18492F solid;
}