main {
    padding-top: 32px;
}


/* adding a background image */
.background{
    background: url("plans-background.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    
/* by default every elemt has z-index:auto applied
auto = 0
! z-index wont work for elements with position:static property (default one)
 0 is tarting point
 If we want to position it above all elements we add 1,2,3 etc
 If below we use -1, -2 , -3
 
 ! If two elements have same z-index the order in html file will win*/

    z-index: -1;
}



.main__plan {
   background: #C9F7D9;
   border: 3px solid #0e4f1f;
   border-left: none;  
   margin-top: 20px;
   width: 80%;
}



#main__plan_plus{
    background: rgba(213, 255, 220, 0.95)
}

/* position the badge
.main__plan__badge{
    position: fixed;
    top: 50px;
    left: 400px;;
    margin: 20px;
} */

#main__plan--free {

    border-right:none;
    border-left: 3px solid #0e4f1f;
    background: rgba(234, 252, 237, 0.95);

    float: right;
    text-align: right;
}


.clearfix {

    clear: both;

}


.main__plan:hover,
.main__plan:active{
    
    border: 3px solid  #E0675D;
    border-left:none;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

#main__plan--free:hover {
    border-left: 3px solid  #E0675D;
}

#main__plan--premium{
    background: #18492F;
}



.main__plan > a {

    color: inherit;
    text-decoration: none;
    display: block;
    padding: 32px;
}

.main__plan__title {
    color:black;
}

#main__plan--premium .main__plan__title {
    color: white;
}

#main__plan--premium .main__plan__slogan {
    color: #bbb;
}


.main__plan__slogan {
    color: #7D857E;
}

.main__plan__description {
    background: white;
    padding: 16px;
    font-size: 20px;
    border: 1px  #18492F solid;
}